@charset "utf-8";
/* CSS Document */
html { overflow-x: hidden; }
.row { width: 100%; clear: both; }
.contaier1248 { width: 1248px; clear: both; margin: 0 auto; }
.height30 { height: 30px; }
.fz16 { font-size: 16px; }
.fz18 { font-size: 18px; }
.fz14 { font-size: 14px; }
.fz20 { font-size: 20px; }
.fz22 { font-size: 22px; }
.fz24 { font-size: 24px; }
.cRed-d30f1b { color: #d30f1b; }
.cColor-313131 { color: #313131; }
.cColor-626262 { color: #626262; }
.cColor-4493ff { color: #4493ff; }
/*************************************************************************************/
.s_logo img { vertical-align: baseline; }
/*************************************************************************************/
.s_head { height: 66px; background: #f6f6f6; width: 100%; clear: both; border-bottom: 1px solid #dcdcdc; }
.s_head1 { width: 100%; clear: both; height: 15px; }
.s_head2 { width: 100%; clear: both; }
.s_headl { float: left; height: 37px; line-height: 37px; }
.s_headl span { font-size: 25px; color: #626262; vertical-align: sub; margin: 0 5px; font-family: monospace; }
.s_headl a { font-size: 14px; color: #626262; }
.s_headl a:hover { text-decoration: none; }
.s_headr { width: 200px; float: right; text-align: right; }
.s_headr a { display: block; height: 90px; line-height: 90px; }
.s_headr a img { vertical-align: middle; }
.s_headc { float: right; }
/*************************************************************************************/
.s_search { border: 1px solid #e5e5e5; width: 480px; height: 35px; }
.s_searchl { float: left; width: 20%; line-height: 35px; height: 35px; background: #fcfbfb; border-right: 1px solid #e5e5e5; text-align: center; font-size: 14px; position: relative; }
.s_searchl ul { position: absolute; z-index: 99; background: #FFF; top: 35px; border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
.s_searchl ul li { width: 94px; height: 32px; line-height: 32px; list-style: none; }
.s_searchl ul li a { display: block; width: 94px; height: 32px; line-height: 32px; text-align: center; }
.s_searchl ul li a:hover { background: #fcfbfb; text-decoration: none; }
.s_searchc { float: left; width: 55%; line-height: 34px; height: 34px; }
.s_searchc input { border: 0; width: 100%; padding: 0 10px; font-size: 14px; height: 34px; line-height: 34px; }
.s_searchr { float: right; width: 20%; }
.s_searchr input { background-color: #d30f1b; color: #FFF; font-size: 16px; height: 36px; width: 100%; line-height: 36px; text-align: center; border: 0; border: none; cursor: pointer; }
/*************************************************************************************/
.nav { height: 45px; line-height: 45px; background-color: #333; color: #FFF; position: relative; }
.nav li { display: inline-block; }
.nav li a { display: block; padding: 0 40px; float: left; color: #fff; font-size: 16px; }
.nav li a:hover { text-decoration: none; background: #fff; color: #333; height: 40px; line-height: 35px; }
.nav li .s_on { text-decoration: none; background: #fff; color: #333; height: 40px; line-height: 35px; }
/*************************************************************************************/
.s_subnav { width: 1248px; height: 430px; overflow: hidden; position: absolute; top: 44px; background: #FFF; z-index: 1000; border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; }
.s_subnavhead { overflow: hidden; clear: both; height: 140px; position: relative; }
.s_subnavtitle1 { width: 220px; height: 130px; text-align: center; cursor: pointer; position: absolute; top: 11px; left: 10px; }
.s_subnavtitle1 img { margin-top: 10px; }
.s_subnavtitle1 p { font-size: 14px; color: #313131; line-height: 25px; text-align: center; }
.s_subnavtitle2 { width: 220px; height: 130px; text-align: center; cursor: pointer; position: absolute; top: 11px; left: 240px; }
.s_subnavtitle2 img { margin-top: 10px; }
.s_subnavtitle2 p { font-size: 14px; color: #313131; line-height: 25px; text-align: center; }
.s_subnavtitle3 { width: 220px; height: 130px; text-align: center; cursor: pointer; position: absolute; top: 11px; left: 470px; }
.s_subnavtitle3 img { margin-top: 10px; }
.s_subnavtitle3 p { font-size: 14px; color: #313131; line-height: 25px; text-align: center; }
.s_bottomOn { height: 130px; background: #fafafa; border: 1px solid #dcdcdc; border-bottom: none; top: 10px; margin-left: -1px; }
.s_subnavfoot { overflow: hidden; background: #fafafa; border-top: 1px solid #dedede; margin-top: -1px; font-size: 14px; line-height: 24px; }
.s_subnavfoot1 { background: #fafafa; overflow: hidden; height: 314px; color: #626262; }
.s_subnavfoot2 { background: #fafafa; overflow: hidden; height: 314px; color: #626262; }
.s_subnavfoot3 { background: #fafafa; overflow: hidden; height: 314px; color: #626262; }
.s_navfootl { width: 510px; float: left; height: 100%; margin-left: 78px; }
.s_navfootlp1 { color: #313131; font-size: 28px; margin-top: 45px; }
.s_navfootlp2 { color: #626262; font-size: 14px; line-height: 24px; margin-top: 10px; }
.s_navfootlbtn { display: block; clear: both; background: #d30f1b; color: #FFF; font-size: 14px; text-align: center; width: 120px; height: 30px; line-height: 30px; margin-top: 30px; }
.s_navfootlbtn:hover { text-decoration: none; color: #FFF; }
.s_navfootr { width: 50%; float: right; text-align: center; height: 100%; }
.s_navfootr img { margin-top: 35px; }
/*************************************************************************************/
.s_bigTitB { background: #f6f6f6; height: 175px; width: 100%; clear: both; }
.s_bigTit { overflow: hidden; }
.s_bigTit1 { float: left; width: 60px; }
.s_bigTit2 a { font-size: 28px; }
.s_bigTit2 div { display: inline-block; width: 97px; height: 23px; border: 1px solid #dcdcdc; text-align: center; line-height: 23px; font-size: 14px; color: #626262; margin-right: 6px; margin-top: 5px; }
.s_bigTit2 { float: left; width: 480px; }
.s_bigTit3 { float: right; width: 150px; font-size: 14px; color: #626262; line-height: 18px; text-align: right; margin-right: 15px; }
.s_bigTit31 { margin-top: 30px; }
.s_bigTit4 { float: right; width: 70px; }
.s_bigTitC { margin-top: 25px; height: 70px; overflow: hidden; }
.s_bigNav { width: 100%; height: 42px; background: #5684c2; overflow: hidden; margin-top: 20px; }
.s_bigNav ul { width: 100%; height: 42px; }
.s_bigNav ul li { display: inline-block; height: 42px; line-height: 42px; }
.s_bigNav ul li a { color: #FFF; padding-left: 25px; padding-right: 25px; font-size: 16px; display: inline-block; height: 42px; line-height: 42px; }
.s_bigNav ul li a:hover { text-decoration: none; background: #37619a; }
.s_bigNav .s_on { background: #37619a; }
/*************************************************************************************/
.s_1 { margin-top: 47px; margin-bottom: 20px; }
.s_2L { margin-bottom: 50px; width: 820px; float: left; }
.s_2R { width: 395px; float: right; }
.s_dp { width: 100%; height: 232px; border: 1px solid #dcdcdc; background: #f6f6f6; }
.s_dpL { width: 110px; height: 100%; float: left; }
.s_dpL img { margin-top: 15px; margin-left: 20px; }
.s_dpR { width: 685px; height: 100%; float: left; }
.s_dpR form textarea { width: 663px; height: 127px; background: url(../images/lpdp/12.jpg) no-repeat; border: none; font-size: 14px; line-height: 24px; color: #929292; padding: 10px; }
.s_dpR form { margin-top: 15px; }
.s_dpR form p { width: 50%; float: left; font-size: 14px; color: #626262; height: 32px; line-height: 32px; margin-top: 15px; }
.s_dpR form button { width: 100px; height: 32px; line-height: 32px; float: right; background: #d30f1b; border: none; color: #FFF; font-size: 16px; margin-top: 15px; }
.s_2R1 { width: 100%; height: 482px; border: 1px solid #dcdcdc; overflow: hidden; position: relative; margin-bottom: 50px; }
.s_2R1Tit { font-size: 20px; color: #313131; height: 65px; line-height: 65px; text-align: center; }
.s_2R1Img { width: 359px; height: 180px; margin: 0 auto; }
.s_2R1Img1 { position: relative; }
.s_2R1Img1 img { width: 359px; height: 180px; }
.s_2R1Img11 { position: absolute; width: 100%; height: 37px; background: #000; opacity: .8; filter: alpha(opacity=80); bottom: 0; z-index: 10; }
.s_2R1Img12 { position: absolute; font-size: 14px; text-align: center; color: #FFF; width: 100%; height: 37px; line-height: 37px; bottom: 0; z-index: 11; }
.s_2R1Tel { border-top: 1px solid #dcdcdc; width: 360px; height: 50px; line-height: 50px; text-align: center; font-size: 16px; color: #d30f1b; position: absolute; bottom: 0; left: 50%; margin-left: -180px; }
.s_2R1Tel img { margin-right: 10px; }
.s_2R1Con { width: 360px; margin: 0 auto; position: relative; margin-top: 20px; }
.s_2R1Con p { font-size: 14px; color: #626262; line-height: 40px; width: 60%; overflow: hidden; }
.s_2R1Con img { border: 1px solid #dcdcdc; width: 115px; height: 53px; position: absolute; right: 0; top: 0; }
.s_2R2 { width: 100%; height: 260px; border: 1px solid #dcdcdc; overflow: hidden; margin-bottom: 50px; }
.s_2R21 { height: 60px; width: 360px; border-bottom: 1px solid #dcdcdc; margin: 0 auto; font-size: 20px; color: #313131; line-height: 75px; }
.s_2R22 { width: 360px; margin: 0 auto; margin-top: 10px; }
.s_tp1 { width: 100%; clear: both; font-size: 14px; }
.s_tp11 { width: 50px; float: left; color: #626262; height: 35px; line-height: 35px; }
#s_tp12 { width: 250px; float: left; height: 8px; border-radius: 0; margin-top: 14px; border: none; }
#s_tp22 { width: 250px; float: left; height: 8px; border-radius: 0; margin-top: 14px; border: none; }
#s_tp32 { width: 250px; float: left; height: 8px; border-radius: 0; margin-top: 14px; border: none; }
#s_tp42 { width: 250px; float: left; height: 8px; border-radius: 0; margin-top: 14px; border: none; }
#s_tp52 { width: 250px; float: left; height: 8px; border-radius: 0; margin-top: 14px; border: none; }
.s_tp13 { width: 58px; float: left; text-align: center; color: #626262; height: 35px; line-height: 35px; }
/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0; }
.ui-widget-header { background: #d30f1b; }
.ui-widget-content { border: none; background: #dcdcdc; }
.s_2R3 { width: 100%; height: 510px; border: 1px solid #dcdcdc; overflow: hidden; margin-bottom: 50px; }
.s_2R31 { height: 60px; width: 360px; border-bottom: 1px solid #dcdcdc; margin: 0 auto; font-size: 20px; color: #313131; line-height: 75px; }
.s_2R32 { width: 360px; margin: 0 auto; }
.s_2R321 { width: 100%; height: 78px; margin: 18px 0 28px 0; overflow: hidden; }
.s_2R321L { float: left; width: 145px; margin-left: 10px; }
.s_2R321L img { width: 143px; height: 78px; }
.s_2R321R { float: right; width: 185px; }
.s_2R321R1 { height: 30px; border-bottom: 1px solid #dcdcdc; }
.s_2R321R2 { }
.s_2R321R3 { }
/*************************************************************************************/
.s_3 { font-size: 24px; color: #313131; height: 65px; line-height: 65px; }
.s_4 { border: 1px solid #dcdcdc; height: 254px; overflow: hidden; margin-bottom: 60px; }
.s_41 { width: 279px; float: left; margin-right: 18px; overflow: hidden; }
.s_41 img { width: 279px; height: 148px; }
.s_4121 { width: 50%; float: left; margin-top: 13px; }
.s_4121 a { font-size: 18px; color: #626262; }
.s_4122 { width: 50%; float: right; text-align: right; font-size: 14px; color: #626262; margin-top: 13px; }
.s_4122 span { font-size: 18px; color: #d30f1b; }
.s_4con { margin-left: 35px; margin-top: 40px; }
/*************************************************************************************/
.s_dp1{ height:50px; width:100%; border-bottom:1px solid #dcdcdc; margin-top:30px;}
.s_dp11{ width:115px; height:50px; line-height:50px; text-align:center; font-size:20px; color:#626262; float:left; cursor:pointer;}

.s_dp12{width:115px; height:50px; line-height:50px; text-align:center; font-size:20px; color:#626262; float:left; cursor:pointer;}

.s_on{background:url(../images/lpdp/q.gif) repeat-x bottom;}
/*************************************************************************************/
.s_dp2Box{ width:100%; height:226px; border-bottom:1px solid #dcdcdc; margin-top:40px;}
.s_dp2BoxL{ width:70px; float:left;}
.s_dp2BoxL img{ border-radius:100%; width:70px;}
.s_dp2BoxR{ width:730px; float:right;}

.s_dp2BoxR1{ height:24px; line-height:24px;}
.s_dp2BoxR1 span{ font-size:18px; line-height:24px; color:#313131; float:left;}
.s_dp2BoxR1 img{ float:right;}
.s_dp2BoxR2{ height:47px; line-height:47px; border-bottom:1px solid #dcdcdc;}
.s_dp2BoxR2 p{ font-size:14px; color:#626262; height:47px; line-height:47px;}
.s_fuck{ color:#626262; padding:0 10px;}
.s_dp2BoxR3 p{ font-size:14px; color:#313131; line-height:28px; text-indent:28px; margin-top:14px; margin-bottom:14px;}
.s_dp2BoxR4{ height:30px; line-height:30px; font-size:14px; color:#626262;}
.s_dp2BoxR4 a{font-size:14px; color:#626262;}
.s_dp2BoxR4 div{ height:30px; line-height:30px;}
.s_dp2BoxR4 img{ vertical-align:text-top;}
.s_fl{ float:left; width:50%;}
.s_fr{ float:right; width:50%;}
.s_fr div{ float:right;}
.s_fr img{ margin-right:5px;}
/*************************************************************************************/
/*************************************************************************************/
/*************************************************************************************/
/*************************************************************************************/
/*************************************************************************************/
/*************************************************************************************/
/*************************************************************************************/
/*************************************************************************************/
/*************************************************************************************/
.s_footer { border-top: 1px solid #ebebeb; height: 177px; width: 100%; background: #fafafa; }
.s_footLeft { width: 545px; float: left; margin-right: 45px; margin-top: 22px; }
.s_footer p.s_footTitle { color: #d30f1b; font-size: 20px; height: 40px; line-height: 40px; border-bottom: 1px solid #ebebeb; }
.s_footer p.s_footTitle1 { margin-top: 15px; text-indent: 28px; line-height: 24px; font-size: 14px; }
.s_footer p.s_footContent { font-size: 14px; color: #626262; line-height: 24px; margin-top: 15px; text-align: justify; text-justify: inter-ideograph; }
.s_footCenter { width: 280px; float: left; margin-top: 22px; }
.s_footRight { width: 335px; float: right; margin-top: 22px; }
.s_footRight img { margin-right: 5px; border: none; border: 0; }
.s_footRight .s_footWX { display: inline-block; width: 142px; vertical-align: bottom; }
.s_footHead { overflow: hidden; }
.s_friendLink { width: 100%; clear: both; margin-top: 10px; overflow: hidden; }
.s_friendLink a { width: 126px; height: 33px; display: inline-block; border: 1px solid #dcdcdc; text-align: center; background: #FFF; line-height: 33px; font-size: 14px; color: #626262; margin-right: 10px; margin-top: 10px; }
.s_friendLink a:hover { text-decoration: none; }
.s_footer2 { height: 125px; background: #111; text-align: center; overflow: hidden; }
.s_footer2a a { color: #cfcfcf; font-size: 14px; margin: 0 10px; height: 24px; line-height: 24px; margin-top: 30px; }
.s_footer2b { font-size: 12px; color: #7f7f7f; margin-top: 10px; }
.s_footer2b span { color: #e23c41; }
/*************************************************************************************/
